$mainColor:#faf3dd;
$secondaryColor:#ffa69e;
$thirdColor: #aed9e0;
$fourthColor: #5e6472;
$fifthColor: #b8f2e6;
$headerColor: #1d394d;

$thirdColorLighter: #41c8dd;

$mainText:#2c4251;
$secondaryText:#4b5156;
