@import '../styles/variablesLight';

.footerContainer {
  display: flex;
  background-color: $mainColor;
  color: $mainText;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}