@import './_variablesLight.scss';

.mainPageContainer {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 4rem 0;
  background-color: $mainColor;
  color: $mainText;
  & li {
    list-style: none;
  }
  & a {
    text-decoration: none;
    color: $thirdColor;
  }
}

.photoSocialcontainer { 
  background-color: $mainColor;
  color: $mainText;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0px;
  width: 50vw;
  margin: 4rem 0;
  & img {
    border-radius: 50%;
    width: 300px;
    max-width: 90%;
  }
}

.socialBar {
  background-color: $mainColor;
  color: $mainText;
  list-style: none;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  & li {
    display: inline-flex;
    text-decoration: none;
    max-width: 20%;
    flex-wrap: wrap;
    margin: 0.3rem;
    & a {
      color: $secondaryColor;
      border: none;
      &:hover {
        color: $thirdColor;
      }
    }
  }
}

.descriptionContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80vw;
  margin-left: 8rem;
  justify-content: flex-start;
  background-color: $mainColor;
  color: $mainText;
  & h1, h2, h3, h4, h5 {
    color: $mainText;
    font-weight: 400;
    padding: 1.5rem 0 0.5rem 0;
  }
  & a {
    color: $secondaryColor;
    border-bottom: 4px solid $thirdColorLighter;
    text-decoration: none;;
    &:hover {
      color: $fourthColor;
    }
  }
  & li {
    padding: 0.1rem;
    color: $secondaryColor;
  }
}

@media only screen and (max-width: 768px) {
  .mainPageContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

  .descriptionContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .photoSocialcontainer {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 55vw;
    padding: 0;
    margin: 0;
  }
}