@import './variablesLight';

.menu {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  background-color: $mainColor;
  color: $mainText;
  & ul {
    list-style: none;
    & li {
      display: inline-block;
      padding:  0 0.8rem;
      & a {
        text-decoration: none;
        color: $fourthColor;
        border: none;
        &:hover {
          background-color: $thirdColor;
        }
      }
    }
  }
}

.lightdarkManip {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 25px;
  padding: 0.4rem;

  &:hover {
    color: $thirdColor;
  }
}